<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # 处理 /api 路径请求
    RewriteRule ^api$ api.php [L]
    RewriteRule ^api/(.*)$ api.php?$1 [QSA,L]
    
    # 隐藏.php后缀
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME}\.php -f
    RewriteRule ^(.*)$ $1.php [L]
    
    Header set Access-Control-Allow-Origin "*"
    Header set Access-Control-Allow-Methods "GET, POST, OPTIONS"
    Header set Access-Control-Allow-Headers "Origin, Accept, Content-Type, X-Requested-With, X-CSRF-Token"
</IfModule>